@font-face {
  font-family: 'SchnyderXCondXLBold';
  src: url("../src/fonts/SchnyderXCondXLBold.otf") format("opentype"); }

@font-face {
  font-family: 'SchnyderXCondXLLight';
  src: url("../src/fonts/SchnyderXCondXLLight.otf") format("opentype"); }

@font-face {
  font-family: 'TTTravelsLight';
  src: url("../src/fonts/TTTravelsLight.ttf") format("truetype"); }

@font-face {
  font-family: 'TTTravelsBold';
  src: url("../src/fonts/TTTravelsBold.ttf") format("truetype"); }

body header {
  z-index: 999;
  display: block;
  height: auto;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0; }
  body header .logo {
    position: absolute;
    left: 48px;
    top: 45px; }
  body header nav {
    position: absolute;
    top: 2.0835vw;
    right: 2.0835vw; }
    body header nav .main_menu__item:hover a {
      transform: scale(1.1);
      font-weight: 800; }
    body header nav .main_menu__item a {
      text-decoration: none;
      font-family: TTTravelsLight;
      font-style: normal;
      font-weight: 300;
      font-size: 0.76395vw;
      line-height: 0.90285vw;
      text-align: right;
      letter-spacing: 0.02em;
      text-transform: capitalize;
      color: #000000; }

body #main_container {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden; }
  body #main_container .background_image {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    padding-top: 0.48615vw;
    padding-left: 32.84985vw;
    padding-right: 24.8631vw;
    box-sizing: border-box;
    z-index: -2; }
  body #main_container .slider_wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
    body #main_container .slider_wrapper .photo_slider {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      padding-left: 222px;
      padding-right: 206px;
      padding-top: 73px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      box-sizing: border-box;
      list-style: none; }
      body #main_container .slider_wrapper .photo_slider__item .image_container {
        background-color: white;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat; }
      body #main_container .slider_wrapper .photo_slider__item:nth-child(1) {
        padding-top: 116px;
        margin-right: 18px; }
        body #main_container .slider_wrapper .photo_slider__item:nth-child(1) .image_container {
          width: 238px;
          height: 331px;
          transform: rotate(1.1deg);
          background-size: 120%; }
      body #main_container .slider_wrapper .photo_slider__item:nth-child(2) {
        margin-top: -6px;
        padding-top: 0; }
        body #main_container .slider_wrapper .photo_slider__item:nth-child(2) .image_container {
          width: 476px;
          height: 702px;
          transform: rotate(1.5deg); }
      body #main_container .slider_wrapper .photo_slider__item:nth-child(3) {
        padding-top: 410px;
        margin-left: -74px; }
        body #main_container .slider_wrapper .photo_slider__item:nth-child(3) .image_container {
          width: 345px;
          height: 238px;
          transform: rotate(1.1deg); }

body .swiper-container {
  position: absolute;
  width: 100%;
  padding-top: 373px; }
  body .swiper-container .swiper-wrapper .swiper-slide-prev {
    transform: rotate(-1.5deg); }
  body .swiper-container .swiper-wrapper .swiper-slide-next {
    transform: rotate(1.5deg); }
  body .swiper-container .swiper-wrapper .swiper-slide-prev, body .swiper-container .swiper-wrapper .swiper-slide-next {
    transition-duration: 0.5s; }
    body .swiper-container .swiper-wrapper .swiper-slide-prev span, body .swiper-container .swiper-wrapper .swiper-slide-next span {
      -webkit-text-stroke: 1px #580300;
      color: transparent !important;
      transition-duration: 0.5s; }
  body .swiper-container .swiper-wrapper .swiper-slide {
    font-family: SchnyderXCondXLBold;
    font-size: 125.581px;
    line-height: 86%;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #580300;
    mix-blend-mode: darken;
    width: calc((100vw/3) + 200px);
    justify-content: center; }
    body .swiper-container .swiper-wrapper .swiper-slide span {
      text-align: center;
      transition-duration: 0.5s; }
